.create-container{
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
table{
    width: 100%;
    border: 2px solid rgb(41, 30, 189);
}
.create-container input ,.create-container select{
    width: 100%;
    height: 40px;
}
.create-container td{
    text-align: center;

}



.create-container input[type="submit"]{
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: rgb(50, 50, 160);
    color: aliceblue;
}

.create-container input[type="file"]{
    width: 100%;
    border: 1px solid black;
    padding-top: 2px;
}