*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    font-family: 'Noto Sans', sans-serif;
} */
.container ,.searchDiv{
    width: 80%;
    margin: auto;
}

header{
    height: 90px;
    background-color: #8EA7E9;
    padding: 10px 0;
}

.header-content{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.header-content .brand{
    font-size: 33px;
    text-decoration: none;
    color:white  ;
    font-weight: bold ;
}
nav{
    padding-top: 10px;
}

nav ul{
    display: flex; 
    list-style: none;


}

nav li a{
    display: block;
    color: rgb(124, 109, 109);
    min-width: 50px ;
    padding: 5px;
    margin: 0px 5px;
    background-color: #E5E0FF  ;
}
nav ul li{
    position: relative;
    margin: 0px 10px;
}

nav ul#user_info li i{
    color: #170f3b  ;
    font-size: 24px;
    cursor: pointer;
}
nav ul#user_info li .badge{
    width: 20px;
    height: 20px;
    background-color:#fff;
    display: block;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top:-9px;
    right: -9px;
    color: red;
    display: none;
}

/* form */
.section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    width: 60%;
    text-align: center;
    background-color:#E5E0FF;
    padding: 20px;
}

.section-form h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: #7286D3;
    padding: 5px;
}

.section-form input{
    display: block;
    margin: 5px 0px;
    padding: 5px;
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    

}
.section-form input[type="submit"]{
    
    text-transform: uppercase;
    cursor: pointer;
    font-size:19px;
    height: auto;
    background-color: #8498e6;


}
.section-form input[type="submit"]:hover{
    opacity: 0.8;

}

nav ul#user_info{
    display: none;
    align-items: center;
}


/* products */
.products{
    width: 60%;
    margin: 10px 30px;
    float: left;
    
}


.product-item{
    display: flex;
    width: 100%;
    border: 1px solid #8498e6;
    height: 200px;
}
.product-item-img{
    width: 25%;
   
    
}
.product-item-imgSrc{
width: 100%;  
height: 100%;  
}
.product-item-actions{
    flex:1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-item-actions .add-to-cart ,.product-item-actions .remove-from-cart{
    display: block;
    margin-left: auto;
    background-color: #124e5c;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer ;
}

.carts-products{
    position: absolute;
    background-color: #E5E0FF ;
    width: 200px;
    transform: translate(-20%,0);
    padding: 10px;
    top: 70px;
    border: 1px solid #8498e6;
    display: none;
    
}
.carts-products a{
    background-color:#124e5c;
    padding: 5px;
    margin: 0;
    text-align: center;
    color: #fff;
    
}
.product-item-desc a{
    text-decoration: none;
    color: #00030f;
    font-size: 30px;
    font-weight: bold;
    display: block;
}

#search{
    width: 80%;
    height: 3rem;
    padding: 5px;
    margin-top: 20px;
    border: 2px solid rgb(29, 70, 133);
    border-radius: 3%;
    outline: none;
}



#create-icon{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: rgb(6, 58, 92);
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    color: #fff;


}
#create-icon:hover{
    opacity: 0.8;
}
.editProduct{
    display: block;
    width: 50px;
    height: 30px;
    background-color: rgb(6, 58, 92);
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.filter{
    width: 30%;
    float: right;
    
}
.clear{
    clear: both;
}

#filterBySize{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-color: #718aee;
}

.edit, .delete{
    margin: 5px;
    padding: 5px;
    background-color: #124e5c;
    color: #fff;
    border: none;
    border-radius: 2px;
    
}

/* profile */
.userInfo img{
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
}

